<h1>Bookenstein & Sons</h1>
<p>Check out our selection below</p>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.name, book_path(book.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add Books", new_path %>
