<%= link_to "Home", home_path %>
<h1>Book Info</h1>
<p>This might be what you're looking for.</p>
<%= link_to "Edit", edit_path %>
<p>Title: <%= @book.name %></p>
<p>Author: <%= @book.author_name %></p>
